.play-list {
  max-height: 613px;
  width: 375px;
}

.play-list .song-item {
  border-top: 2px solid #010141;
  gap: 20px;
  justify-content: flex-start;
  padding-block: 10px;
  position: relative;
}

.play-list .song-item figure {
  aspect-ratio: 1/1;
  margin: 0;
  width: 60px;
}

.play-list .song-item figure img {
  width: 100%;
}

.play-list .song-item .song-info .lower-text {
  font-size: 12px;
  opacity: 0.5;
}

.play-list .song-item .play {
  opacity: 0.3;
  position: absolute;
  right: 25px;
}

.play-list .song-item:first-child .play {
  opacity: 1;
}

@media screen and (min-width: 750px) {
  .play-list {
    border-right: 1px solid #010141;
  }

  .play-list .song-item:first-child {
    border-top: none;
  }
}
